body{
    background-color: orange;
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-template-rows: 90px 7fr;
}

/*generic styling CHANGE LATER*/

#projectForm {
    display: none;
    
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
  }

  

.header{
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1/1/1/3;

}

.projects{
    background-color: purple;
    border: 1px solid black;

    display: grid;
    grid-template-rows: 80px 6fr;
    
}


.projectHeader{
    display: flex;
    grid-template-columns: 4fr 1fr;
    align-items: center;
    justify-content: center;
   
}

.projectHeader h1{
    margin-left: 20px;
}

#addListBtn{
    margin: auto;
    border-radius: 15px; 
    padding: 5px 10px; 
    border: none; 
    cursor: pointer;

}

.projectCards{

}

.toDoList{
    background-color: green;
    border: 1px solid black;
}




